.root {
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-padding: 10;
}
.button {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-font-family: "Calibri Light";
}
.hitemp {
    -fx-font-family: "Calibri Light";
    /*-fx-font-size: 100;*/
    -fx-font-weight: bold;
}
.lotemp {
    -fx-font-family: "Calibri Light";
    /*-fx-font-size: 100;*/
    -fx-font-weight: bold;
}